<form mdContent (ngSubmit)="onSubmit(form)" novalidate #form="ngForm" fxLayout="column" id="zpCreateUser">
  <mat-form-field>
    <input matInput ngModel name="login" type="text" placeholder="Login" required />
  </mat-form-field>
  <mat-form-field>
    <input matInput ngModel name="password" type="password" placeholder="Password" required />
  </mat-form-field>
  <mat-form-field>
    <input matInput ngModel name="email" type="mail" placeholder="Email" />
  </mat-form-field>
  <mat-form-field>
    <input matInput ngModel name="firstname" type="text" placeholder="Firstname" />
  </mat-form-field>
  <mat-form-field>
    <input matInput ngModel name="lastname" type="text" placeholder="Lastname" />
  </mat-form-field>
  <button mat-button [disabled]="form.invalid" form="zpCreateUser">Submit</button>
</form>
