<mat-card>
  <mat-card-title>Login</mat-card-title>
  <mat-card-content>
    <form (ngSubmit)="onSubmit()" #loginForm="ngForm" id="loginForm">
      <mat-form-field>
        <input matInput type="type" placeholder="Login" [(ngModel)]="credentials.login" name="login" required />
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" placeholder="Password" [(ngModel)]="credentials.password" name="password" required />
      </mat-form-field>
      <div *ngIf="error">{{error}}</div>
    </form>
  </mat-card-content>
  <mat-card-actions align="end">
    <button type="button" mat-button color="accent" routerLink="/register">Register</button>
    <button form="loginForm" type="submit" mat-raised-button color="primary">Submit</button>
  </mat-card-actions>
</mat-card>

