html,
body {
  height: 100vh;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Noto Sans', sans-serif !important;
}
html {
  background-color: $core-white;
}

.flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-height {
  height: 100%;
  flex: 1;
}

.flex-fill{
    flex: 1 1 auto;
}
