<!-- Handle beacon detections entrance -->
<div *ngIf="beaconDetectionsEntrance?.length > 0">
	<h3>Entrance</h3>
	<li *ngFor="let detection of beaconDetectionsEntrance">
		<span>
			Identifiant : {{detection.id}},	beacon : {{detection.beacon}} , distance : {{detection.distance}}, timestamp : {{detection.timestamp}}
		</span>
	</li>
</div>

<!-- Handle beacon detections exit -->
<div *ngIf="beaconDetectionsExit?.length > 0">
	<h3>Exit</h3>
	<li *ngFor="let detection of beaconDetectionsExit">
		<span>
			Identifiant : {{detection.id}},	beacon : {{detection.beacon}} , distance : {{detection.distance}}, timestamp : {{detection.timestamp}}
		</span>
	</li>
</div>

<!-- Handle beacon detections lock -->
<div *ngIf="beaconDetectionsLock?.length > 0">
	<h3>Lock</h3>
	<li *ngFor="let detection of beaconDetectionsLock">
		<span>
			Identifiant : {{detection.id}},	beacon : {{detection.beacon}} , distance : {{detection.distance}}, timestamp : {{detection.timestamp}}
		</span>
	</li>
</div>

<!-- Handle beacon detections beaconOne -->
<div *ngIf="beaconDetectionsBeaconOne?.length > 0">
	<h3>Beacon One</h3>
	<li *ngFor="let detection of beaconDetectionsBeaconOne">
		<span>
			Identifiant : {{detection.id}},	beacon : {{detection.beacon}} , distance : {{detection.distance}}, timestamp : {{detection.timestamp}}
		</span>
	</li>
</div>

<!-- Handle beacon detections beaconTwo -->
<div *ngIf="beaconDetectionsBeaconTwo?.length > 0">
	<h3>Beacon Two</h3>
	<li *ngFor="let detection of beaconDetectionsBeaconTwo">
		<span>
			Identifiant : {{detection.id}},	beacon : {{detection.beacon}} , distance : {{detection.distance}}, timestamp : {{detection.timestamp}}
		</span>
	</li>
</div>

<!-- Handle beacon detections beacon three -->
<div *ngIf="beaconDetectionsBeaconThree?.length > 0">
	<h3>Beacon Three</h3>
	<li *ngFor="let detection of beaconDetectionsBeaconThree">
		<span>
			Identifiant : {{detection.id}},	beacon : {{detection.beacon}} , distance : {{detection.distance}}, timestamp : {{detection.timestamp}}
		</span>
	</li>
</div>