<h1>details-whiteboard-view</h1>
<nav>
  <button mat-button (click)="onPurgeWhiteboard($event)"><mat-icon>clear</mat-icon></button>
</nav>
<zp-ui-file (files)="onSelectFiles($event)"></zp-ui-file>
<mat-radio-group [(ngModel)]="mode">
  <mat-radio-button *ngFor="let mode of modes" [value]="mode">
    {{mode}}
  </mat-radio-button>
</mat-radio-group>
<mat-radio-group [(ngModel)]="color">
  <mat-radio-button *ngFor="let color of colors" [value]="color">
    <span [style.color]="color">{{color}}</span>
  </mat-radio-button>
</mat-radio-group>
<div zpFabric
  [color]="color"
  [mode]="mode"
  [images]="images"
  [objects]="config?.objects"
  (added)="onObjectAdded($event)"
  (modified)="onObjectModified($event)"
  (selected)="onObjectSelected($event)"
  (removed)="onObjectRemoved($event)"
></div>
