<video id="localVideo" autoplay height="200"></video>
<video id="remoteVideo" autoplay height="250"></video>

<div>
    <button (click)="askPermissionPhoto()">Ask Permission</button>
    <button (click)="takePhoto()">Take photo</button>
    <button (click)="startCommunication()">Start</button>
</div>


<div>
    <h2>Pictures</h2>
    
    <li *ngFor="let photo of tabOfUrl | orderByTimestamp">
        <img src={{photo.file}} height="250"/>
        <button (click)="deletePhoto(photo.name)">Delete</button>
        <button (click)="downloadPhoto(photo.file)">Download</button>
    </li>
</div>